body{
    background-image: url('assets/concrete_wall.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    max-width: 30px;
    max-height: 30px;
}

#chartContainer{
    margin-top: 5%;
    position: absolute;
    left: 35%;
}

@-webkit-keyframes animate-width {
    0% {
        width: 0;
   }
    100% {
        visibility: visible;
   }
}
@-moz-keyframes animate-width {
    0% {
        width: 0;
   }
    100% {
        visibility: visible;
   }
}
@keyframes animate-width {
    0% {
        width: 0;
   }
    100% {
        visibility: visible;
   }
}
@-webkit-keyframes animate-height {
    0% {
        height: 0;
   }
    100% {
        visibility: visible;
   }
}
@-moz-keyframes animate-height {
    0% {
        height: 0;
   }
    100% {
        visibility: visible;
   }
}
@keyframes animate-height {
    0% {
        height: 0;
   }
    100% {
        visibility: visible;
   }
}

#bar-chart {
    height: 420px;
    width: 100%;
    position: relative;
    margin: 50px auto 0;
}
#bar-chart * {
    box-sizing: border-box;
}
#bar-chart .graph {
    height: 283px;
    position: relative;
}
#bar-chart .bars {
    height: 253px;
    padding: 0 2%;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#bar-chart .bar-group {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 5%;
    margin-right: 5.5%;
}
#bar-chart .bar-group:last-child {
    margin-right: 0;
}
#bar-chart .bar-group .bar {
    visibility: hidden;
    height: 0;
    -webkit-animation: animate-height;
    -moz-animation: animate-height;
    animation: animate-height;
    animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .15);
    border-radius: 3px 3px 0 0;
    bottom: 0;
    height: 0;
    position: absolute;
    text-align: center;
    width: 5%;
}
#bar-chart .bar-group .bar:nth-child(2) {
    left: 15%;
}
#bar-chart .bar-group .bar:nth-child(3) {
    left: 30%;
}
#bar-chart .bar-group .bar:nth-child(4) {
    left: 45%;
}
#bar-chart .bar-group .bar:nth-child(5) {
    left: 60%;
}
#bar-chart .bar-group .bar:nth-child(6) {
    left: 75%;
}
#bar-chart .bar-group .bar:nth-child(7) {
    left: 90%;
}
#bar-chart .bar-group .bar:nth-child(8) {
    left: 105%;
}
#bar-chart .bar-group .bar:nth-child(9) {
    left: 120%;
}
#bar-chart .bar-group .bar:nth-child(10) {
    left: 135%;
}
#bar-chart .bar-group .bar:nth-child(11) {
    left: 150%;
}
#bar-chart .bar-group .bar:nth-child(12) {
    left: 165%;
}

#bar-chart .bar-group .bar span {
    display: none;
}
#bar-chart .bar-group .bar-1 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
#bar-chart .bar-group .bar-2 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
#bar-chart .bar-group .bar-3 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
#bar-chart .bar-group .bar-4 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
#bar-chart .bar-group .bar-5 {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}
#bar-chart .bar-group .bar-6 {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
#bar-chart .bar-group .bar-7 {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
#bar-chart .bar-group .bar-8 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
#bar-chart .bar-group .bar-9 {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}
#bar-chart .bar-group .bar-10 {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
#bar-chart .bar-group .bar-11 {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
#bar-chart .bar-group .bar-12 {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
#bar-chart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#bar-chart .x-axis {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#bar-chart .x-axis li {
    float: left;
    margin-right: 6%;
    font-size: 11px;
    width: 4.5%;
}
#bar-chart .x-axis li:last-child {
    margin-right: 0;
}
#bar-chart .y-axis {
    position: absolute;
    text-align: right;
    width: 100%;
}
#bar-chart .y-axis li {
    border-top: 1px solid #4e5464;
    display: block;
    height: 63.25px;
    width: 100%;
}
#bar-chart .y-axis li span {
    display: block;
    font-size: 11px;
    margin: -10px 0 0 -60px;
    padding: 0 10px;
    width: 40px;
}
#bar-chart .stat-1 {
    background-image: -webkit-linear-gradient(left, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
    background-image: linear-gradient(to right, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
}
#bar-chart .stat-2 {
    background-image: -webkit-linear-gradient(left, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
    background-image: linear-gradient(to right, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
}
#bar-chart .stat-3 {
    background-image: -webkit-linear-gradient(left, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
    background-image: linear-gradient(to right, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
}
#bar-chart .stat-4 {
    background-image: -webkit-linear-gradient(left, #336633 0%, #336633 47%, #336633 50%, #336633 100%);
    background-image: linear-gradient(to right, #336633 0%, #336633 47%, #336633 50%, #336633 100%);
}
#bar-chart .stat-5 {
    background-image: -webkit-linear-gradient(left, #666600 0%, #666600 47%, #666600 50%, #666600 100%);
    background-image: linear-gradient(to right, #666600 0%, #666600 47%, #666600 50%, #666600 100%);
}
#bar-chart .stat-6 {
    background-image: -webkit-linear-gradient(left, #CC6600 0%, #CC6600 47%, #CC6600 50%, #CC6600 100%);
    background-image: linear-gradient(to right, #CC6600 0%, #CC6600 47%, #CC6600 50%, #CC6600 100%);
}
#bar-chart .stat-7 {
    background-image: -webkit-linear-gradient(left, #00CCCC 0%, #00CCCC 47%, #00CCCC 50%, #00CCCC 100%);
    background-image: linear-gradient(to right, #00CCCC 0%, #00CCCC 47%, #00CCCC 50%, #00CCCC 100%);
}
#bar-chart .stat-8 {
    background-image: -webkit-linear-gradient(left, #0066FF 0%, #0066FF 47%, #0066FF 50%, #0066FF 100%);
    background-image: linear-gradient(to right, #0066FF 0%, #0066FF 47%, #0066FF 50%, #0066FF 100%);
}
#bar-chart .stat-9 {
    background-image: -webkit-linear-gradient(left, #330033	 0%, #330033	 47%, #330033 50%, #330033 100%);
    background-image: linear-gradient(to right, #330033	 0%, #330033	 47%, #330033 50%, #330033 100%);
}
#bar-chart .stat-10 {
    background-image: -webkit-linear-gradient(left, #FF0033 0%, #FF0033 47%, #FF0033 50%, #FF0033 100%);
    background-image: linear-gradient(to right, #FF0033 0%, #FF0033 47%, #FF0033 50%, #FF0033 100%);
}
#bar-chart .stat-11 {
    background-image: -webkit-linear-gradient(left, #CC33FF 0%, #CC33FF 47%, #CC33FF 50%, #CC33FF 100%);
    background-image: linear-gradient(to right, #CC33FF 0%, #CC33FF 47%, #CC33FF 50%, #CC33FF 100%);
}
#bar-chart .stat-12 {
    background-image: -webkit-linear-gradient(left, #3333FF 0%,#3333FF 47%,#3333FF 50%,#3333FF 100%);
    background-image: linear-gradient(to right, #3333FF 0%,  #3333FF 47%, #3333FF 50%, #3333FF 100%);
}

.footer-margin {
    height: 100px;
  }